<a href="https://colab.research.google.com/github/ahorvath008/Internal-Audit/blob/main/Purchasing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
# Import the file from Google Drive
file = ('/content/drive/MyDrive/Colab Notebooks/Trainline Purchasing.xlsx') 
df = pd.read_excel(file)
df.head(5)

,Purchase order,Supplier account,Invoice account,Supplier name,Purchase type,Approval status,Purchase order status,Currency,Delivery date,Mode of delivery,Delivery terms,Purchase agreement,Direct delivery
0,TTL-PO-013147,TTLSUP8103871,TTLSUP8103871,Jamie Tucker Media Ltd,Purchase order,Approved,Open order,GBP,2022-11-16,NaN,NaN,No,No
1,TTL-PO-013146,TTLSUP8100016,TTLSUP8100016,Al Desco Foods Ltd,Purchase order,In review,Open order,GBP,2022-11-16,NaN,NaN,No,No
2,TTL-PO-013144,TTLSUP8100082,TTLSUP8100082,BUPA Healthcare,Purchase order,Approved,Open order,GBP,2022-11-16,NaN,NaN,No,No
3,TTL-PO-013143,TTLSUP8100083,TTLSUP8100083,Bupa Dental,Purchase order,Approved,Open order,GBP,2022-11-16,NaN,NaN,No,No
4,TTL-PO-013142,TTLSUP8101101,TTLSUP8101101,City of Edinburgh Council,Purchase order,Approved,Open order,GBP,2022-11-16,NaN,NaN,No,No